html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 85%;
    box-sizing: border-box;

    @include breakpoint("lg"){
        font-size: 90%;
    }

    @include breakpoint("md") {
        font-size: 95%;
    }

    @include breakpoint("lg") {
        font-size: 100%;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 100%;
    color: $warm-black;
    font-family: $font-family-body;
    font-size: 18px;
    font-weight: $font-weight-base;
    line-height: 1.375;
    background: $off-white;
}

.page {
    text-align: center;

    @media screen and (max-width: 1024px) {
        overflow-x: hidden;
    }
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1200px;
    text-align: left;

    @media screen and (max-width: 1024px) {
        overflow-x: hidden;
    }
}

.grid-container {

    @include breakpoint("md") {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        grid-gap: 0.75rem;
    }

    @include breakpoint("lg") {
        grid-template-columns: repeat(15, 1fr);
        grid-gap: 1.15rem;
    }

    @include breakpoint("xl") {
        grid-template-columns: repeat(16, 1fr);
    }
}