@mixin button($bg, $border, $color) {
    padding: 0.75rem 1rem;
    display: inline-block;
    color: $color;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    background: $bg;
    border: 2px solid $border;
    transition: background 0.3s ease;

    @include breakpoint(md) {
        padding: 0.75rem 2rem;
    }

    &:hover,
    &:focus {
        color: $border;
        background: transparent;
        transition: background 0.3s ease;
    }
}

@mixin fullwidth-bg() {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        background: inherit;
    }

    &::after { right: calc(100% - 1px); }

    &::before { left: calc(100% - 1px); }
}

$breakpoints: (
    "xl" : (min-width: 1200px),
    "lg" : (min-width: 1024px),
    "md" : (min-width: 600px),
    "sm" : (min-width: 480px),
    "xs" : (max-width: 320px)
);

@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
     // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}